<% if (appointments.length == 0) { %>
	<div class="no_transList"><i class="noListIcon"></i><em class="vm">暂无记录</em></div>
<% }else{ %>
<% for (var i = 0; i < appointments.length; i++) { %>
<div class="well clearfix" >
	<div class="media fl">
		<div class="span fl">
			<% if(appointments[i].status == 0) { %>
				<span class="btn btn-primary">待审核</span>
			<% }else if(appointments[i].status == 1) { %>
				<span class="btn btn-green">待受理</span>
			<% }else if(appointments[i].status == 2) { %>
				<span class="btn btn-red">已受理</span>
			<% }else if(appointments[i].status == 3) { %>
				<% if(appointments[i].statusDesc) { %>
				<span class="btn btn-gray btn-lines">已关闭
					<span class="f12 db">(<%= appointments[i].statusDesc %>)</span>
				</span>
				<% }else{ %>
					<span class="btn btn-gray">已关闭</span>
				<% } %>
			<% }else if(appointments[i].status == 4) { %>
				<span class="btn btn-orange">待付款</span>
			<% }else if(appointments[i].status == 5) { %>
				<span class="btn btn-gray">已取消</span>
			<% } %>
		</div>
		<div class="media-body g3 well_body">
			<p>
				<span><%= appointments[i].param.name %></span>
				<span><%= appointments[i].param.cityName %></span><span><%= appointments[i].param.mobile %></span>
				<span><%= appointments[i].param.courseTypeName %></span><span><%= appointments[i].param.score %></span>
				<% if(appointments[i].appointmentType == 0) { %>
					<span>专家面对面服务</span>
				<% }else if(appointments[i].appointmentType == 1) { %>
					<span>专家在线服务</span>
				<% } %>
			</p>
			<p>
				<%= appointments[i].scheduleTime %>
			</p>
		</div>
	</div>
	<% if(appointments[i].status == 4) { %>
	<div class="detailInfo fr payRow">
		<a href="javascript:;" class="btn btn-orange btn-pay db" orderid=<%= appointments[i].orderId %>>支付<%= appointments[i].price %>元</a>
	<% }else{ %>
	<div class="detailInfo fr">
	<% } %>
		<span class="moment"><%= appointments[i].createTime %></span>
	</div>
</div>
<% }} %>