<% if (caseList.length == 0 ) { %>
	<li class="no_transList"><i class="noListIcon"></i><em class="vm">暂无记录</em></li>
<% }else{ %>
<% for (var i = 0; i < caseList.length; i++) { %>
	<% if (caseList[i].type == 1) { %>
	<div class="well clearfix" type ="<%= caseList[i].type %>">
		<div class="media fl">
			<div class="span fl">
				<span class="btn btn-primary">高考志愿定制</span>
			</div>
			<div class="media-body g3 well_body">
				<p>
				<span class="label">订单号：</span><span class="field"><%= caseList[i].orderId %></span>
				<span class="label">生成日期：</span><span class="field"><%= caseList[i].createTime %></span>
				</p>
				<p>
				<span class="label">高考分数：</span><span class="field"><%= caseList[i].score %></span>
				</p>
			</div>
		</div>
		<div class="detailInfo fr">
			<div class="row btnRow">
				<a href="/box/plan/result?planId=<%= caseList[i].planId %>" class="btn btn-positive btn-medium bd">查看</a>
			</div>
		</div>
	</div>
	<% }else if(caseList[i].type == 2){ %>
	<div class="well clearfix" type ="2">
		<div class="media fl">
			<div class="span fl">
				<span class="btn btn-primary">高考志愿评估</span>
			</div>
			<div class="media-body g3 well_body">
				<p>
				<span class="label">订单号：</span><span class="field"><%= caseList[i].orderId %></span>
				<span class="label">生成日期：</span><span class="field"><%= caseList[i].createTime %></span>
				</p>
				<p>
				<span class="label">高考分数：</span><span class="field"><%= caseList[i].score %></span>
				</p>
			</div>
		</div>
		<div class="detailInfo fr">
			<div class="row btnRow">

			<a href="/box/plan/result?planId=<%= caseList[i].planId %>" class="btn btn-positive btn-medium bd">查看</a>
			</div>
		</div>
	</div>
	<% } %>
<% }} %>


