<% if (majors.length == 0) { %>
	<li class="no_transList"><i class="noListIcon"></i><em class="vm">暂无记录</em></li>
<% }else{ %>	
<% for (var i = 0; i < majors.length; i++) { %>
<li class="majorList clearfix">
	<a class="fr taoIcon next" href="#" target="_blank"></a>
	<div class="majorDetail">
		<h5 class="name badgeRow">
			<em class="badgetitle vm"><%= majors[i].majorName %></em>
			<% for (var j = 0; j < majors[i].tags.length; j++) { %>
				<span class="badge red"><%= majors[i].tags[j] %></span>
			<% } %>
		</h5>
		<p class="details">
			<span>
				<i class="icon-major icon-score"></i>
				<em class="label">分数线：</em>
				<em class="field orange"><%= majors[i].majorName %></em>
			</span>
			<span>
				<i class="icon-major icon-term"></i>
				<em class="label">学制：</em>
				<em class="field orange"><%= majors[i].eductionalSystme %>年</em>
			</span>
			<span>
				<i class="icon-major icon-human"></i>
				<em class="label">招生人数：</em>
				<em class="field orange"><%= majors[i].recruitCount %>人</em>
			</span>
		</p>
		<p class="foot">
			<i class="icon-major icon-hat"></i>
			<em class="label g6 vm">所需科目：</em>
			<% for (var k = 0; k < majors[i].subjects.length; k++) { %>
				<span class="btn btn-primary btn-outlined vm">
				<%= majors[i].subjects[k].subjectName %>
				</span>
			<% } %>
		</p>
	</div>
</li>
<% }} %>