<% if (colleges.length == 0) { %>
	<li class="no_transList"><i class="noListIcon"></i><em class="vm">暂无记录</em></li>
<% }else{ %>	
<% for (var i = 0; i < colleges.length; i++) { 
	var list = colleges[i]
%>
<li class="clearfix">
	<div class="">
	<h4 class="name badgeRow">
		<a class="badgetitle vm textLink" target="_blank" href="/library/college/<%= colleges[i].collegeId %> "><%= colleges[i].collegeName %></a>
		<% for (var j = 0; j < colleges[i].feature.length; j++) { %>
			<% if(colleges[i].feature[j].type == 1) { %>
				<span class="badge green"><%= colleges[i].feature[j].name %></span>
			<% }else if(colleges[i].feature[j].type == 2){ %>
				<span class="badge red"><%= colleges[i].feature[j].name %></span>
			<% }else{ %>
				<span class="badge"><%= colleges[i].feature[j].name %></span>
			<% } %>
		<% } %>
	</h4>

	<div class="detail">
		<i class="icon icon-city"></i><span class="field"><%= list.city.name %></span>
		<span class="label">院校分类：</span><span class="field"><%= list.collegeType.name %></span>
		<span class="label">院校性质：</span><span class="field"><%= list.ownerType.name %></span>
		<span class="label">院校层次：</span><span class="field"><%= list.level.name %></span>
		</div>
	</div>

	<% if (list.field){ %>
	<div class="fieldRow">
		<%= list.field %>
	</div>
	<% } %>
	
	<% if (list.scores.length > 0) { %>
		<div class="tableWrap mt10 mb10">
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<td width="140">科类</td>
							<td width="240">录取平均分（分）</td>
							<td width="140">分差（分）</td>
							<td width="140">学制（年）</td>
							<td width="240">招生人数（人）</td>
						</tr>
					</thead>
					<tbody>
						<% for (var j = 0; j < list.scores.length; j++) { 
							var score = list.scores[j];
						%>
						<tr>
							<td>
							<% if (score.courseType == 1) { %>
							   		文科
							<% }else if (score.courseType == 0) { %>
							   		理科
							<% } %>
							</td>
					<td><%= score.admittedScore %></td>
					<td><%= score.diffScore %></td>
					<td><%= score.eductionalSystme %></td>
					<td><%= score.recruitCount %></td>
					</tr>
					<% } %>
					</tbody>
				</table>
		</div>
	<% }else{ %>
			<% 
				/* 
					<div class="f16 g9 empty mt10 mb10">暂无历史数据</div> 
				*/ 
			%>
	<% } %>

	<div class="row mt10">
		<span class="label">所需科目：</span>
		<% if (!list.subjects.length) { %>
		   	<span class="field g9">无</span>
		<% }else if (list.subjects.length >= 7) { %>
		   	<span class="field g9">不限</span>
		<% }else{ %>
			<% for (var k = 0; k < list.subjects.length; k++) { 
				var subject = list.subjects[k];
			%>
			<span class="field g9"><%= subject.subjectName %></span>
		<% }} %>
		
	</div>
</li>
<% }} %>