 <% if (majorList.length == 0) { %>
	<li>暂无该专业数据</li>
<% }else{ %>
	<% for (var i = 0; i < majorList.length; i++) { %>
	 	<li>
		 	<label for="major_<%= majorList[i].majorId %>" >
		 		<input type="radio" name="city" n="<%= majorList[i].majorName %>" value="<%= majorList[i].majorId %>" id="major_<%= majorList[i].majorId %>" />
		 		<em><%= majorList[i].majorName %></em>
		 	</label>
		</li>
 <% }} %>