<% if (undergraduateList.length > 0) { %>
<div class="row">
	<p class="g6 mb12">本科大类：</p>

	<% for (var i = 0; i <undergraduateList.length; i++) { %>
		<% var checkedStatus;
		 if(undergraduateList[i].status == 1) {
			checkedStatus = "checked";
		 }else{
			checkedStatus = "";
		 } %>
	<label class="label_check" for="majorType<%= undergraduateList[i].categoryId %>" >
		<em class="icon-eye"  data-majorId=<%= undergraduateList[i].categoryId %> data-name="<%= undergraduateList[i].categoryName %>"></em>
		<input type="checkbox" class="input form-control" id="majorType<%= undergraduateList[i].categoryId %>" name="majorType" <%= checkedStatus %> required>
		<em class="vm"><%= undergraduateList[i].categoryName %></em>
		<em class="icon-yes">
			<i></i>
		</em>
	</label>
	<% } %>
</div>
<% } %>

<% if( juniorList.length > 0){ %>
<div class="row">
	<p class="g6 mb12">专科大类：</p>

	<% for (var i = 0; i < juniorList.length; i++) { %>
		<% var checkedStatus; 
		 if(juniorList[i].status == 1) { 
			checkedStatus = "checked"; 
		 }else{ 
			checkedStatus = ""; 
		 } %>
	<label class="label_check" for="majorType<%= juniorList[i].categoryId %>" >
		<em class="icon-eye" data-majorId=<%= juniorList[i].categoryId %> data-name="<%= juniorList[i].categoryName %>"></em>
		<input type="checkbox" class="input form-control" id="majorType<%= juniorList[i].categoryId %>" name="majorType" <%= checkedStatus %> required>
		<em class="vm"><%= juniorList[i].categoryName %></em>
		<em class="icon-yes">
			<i></i>
		</em>
	</label>
	<% } %>
</div>
<% } %>