<div class="modalCntWrap taoModal g9 modalForm myInfoModal">
 <h3 class="clearfix"><a href="javascript:;" class="icons btn-close fr"></a><span class="fl">我的信息</span></h3>
 <form class="modalSubCnt" id="bookForm" onsubmit="return false;" autocomplete="off">

<div class="row clearfix">
  <label for="province" class="control-label column col1 fl">
    <i class="icon-location"></i>
    <em class="vm">高考所在地：</em></label>
  <div class="col2 selectWrap rel">
    <div class="fieldWrap lh34">
      <span><%= provinceName %></span>
    </div>
  </div>
</div>

<div class="row clearfix inline">
  <label for="score" class="control-label column col1 fl">
    <i class="icon-location icon-fenshu"></i>
    <em class="vm">高考分数：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap lh34">
      <span><%= score %>分</span>
    </div>
  </div>
</div>

<% if(subjects && subjects.length) { %>
<div class="row clearfix">
  <label for="subjectId" class="control-label column col1 fl">
    <i class="icon-location icon-pic"></i>
    <em class="vm">选考科目：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <% for (var i = 0; i < subjects.length; i++) { %>
      <label for="subjectId_<%= subjects[i].code %>" class="label_check inline">
      <em class="icon-radio"></em>
      <input type="checkbox" class="input form-control" id="subjectId_<%= subjects[i].code %>" name="subjectId" disabled checked>
      <em class="vm"><%= subjects[i].name %></em>
      </label>
      <% } %>
    </div>
  </div>
</div>
<% }else if(subjects.length == 0){ %>
  <div class="row clearfix">
  <label for="subjectId" class="control-label column col1 fl">
    <i class="icon-location icon-hat"></i>
    <em class="vm">选考科目：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <label for="subjectId_" class="label_check inline">
      <em class="icon-radio"></em>
      <input type="checkbox" class="input form-control" id="subjectId_" name="subjectId" disabled checked>
      <em class="vm">全部</em>
      </label>
    </div>
  </div>
</div>
<% } %>

<% if(cities && cities.length) { %>
<div class="row clearfix">
  <label for="city" class="control-label column col1 fl">
    <i class="icon-location icon-street"></i>
    <em class="vm">求学地区：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <% for (var i = 0; i < cities.length; i++) { %>
      <label for="city_<%= cities[i].code %>" class="label_check inline">
      <em class="icon-radio"></em>
      <input type="checkbox" class="input form-control" id="city_<%= cities[i].code %>" name="city" disabled checked>
      <em class="vm"><%= cities[i].name %></em>
      </label>
      <% } %>
    </div>
  </div>
</div>
<% }else if(c.length == 0){ %>
  <div class="row clearfix">
  <label for="city" class="control-label column col1 fl">
    <i class="icon-location icon-street"></i>
    <em class="vm">地区选择：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <label for="city_" class="label_check inline">
      <em class="icon-radio"></em>
      <input type="checkbox" class="input form-control" id="city_" name="city" disabled checked>
      <em class="vm">全部</em>
      </label>
    </div>
  </div>
</div>
<% } %>

<% if(majors && majors.length) { %>
<div class="row clearfix">
  <label for="majorId" class="control-label column col1 fl">
    <i class="icon-location icon-hat"></i>
    <em class="vm">求学专业：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <% for (var i = 0; i < majors.length; i++) { %>
      <label for="majorId_<%= majors[i].code %>" class="label_check inline">
      <em class="icon-radio"></em>
      <input type="checkbox" class="input form-control" id="majorId_<%= majors[i].code %>" name="majorId" disabled checked>
      <em class="vm"><%= majors[i].name %></em>
      </label>
      <% } %>
    </div>
  </div>
</div>
<% }else if(majors.length == 0){ %>
  <div class="row clearfix">
  <label for="majorId" class="control-label column col1 fl">
    <i class="icon-location icon-hat"></i>
    <em class="vm">求学专业：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <label for="majorId_" class="label_check inline">
      <em class="icon-radio"></em>
      <input type="checkbox" class="input form-control" id="majorId_" name="majorId" disabled checked>
      <em class="vm">全部</em>
      </label>
    </div>
  </div>
</div>
<% } %>


</form>
</div>