<div class="modalCntWrap taoModal g9 modalForm myInfoModal">
 <h3 class="clearfix"><a href="javascript:;" class="icons btn-close fr"></a><span class="fl">我的信息</span></h3>
 <form class="modalSubCnt" id="bookForm" onsubmit="return false;" autocomplete="off">

<div class="row clearfix">
  <label for="province" class="control-label column col1 fl">
    <i class="icon-location"></i>
    <em class="vm">高考所在地：</em></label>
  <div class="col2 selectWrap rel">
    <div class="fieldWrap lh34">
      <span><%= province %></span>
    </div>
  </div>
</div>

<div class="row clearfix">
  <label for="province" class="control-label column col1 fl">
    <i class="icon-location icon-newuser"></i>
    <em class="vm">姓名：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap lh34">
      <span><%= userName %></span>
    </div>
  </div>
</div>

<div class="row clearfix">
  <label for="courseType" class="control-label column col1 fl">
    <i class="icon-location icon-book"></i>
    <em class="vm">高考科目：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <% if (courseType == 0) { %>
        <label for="courseType_0" class="label_radio inline">
        <em class="icon-radio"></em>
        <input type="radio" class="input form-control" id="courseType_0" name="courseType" checked disabled>
        <em class="vm">理科</em>
        </label>
      <% }else{ %>
         <label for="courseType_1"  class="label_radio inline">
        <em class="icon-radio"></em>
        <input type="radio" class="input form-control" id="courseType_1" name="courseType" checked disabled>
        <em class="vm">文科</em>
        </label>
      <% } %>
    </div>
  </div>
</div>

<div class="row clearfix">
  <label for="courseType" class="control-label column col1 fl">
    <i class="icon-location icon-pic"></i>
    <em class="vm">报考批次：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
    <% if (batch == 1) { %>
      <label for="batch_1" class="label_radio inline">
      <em class="icon-radio"></em>
      <input type="radio" class="input form-control" id="batch_1" name="batch" disabled checked>
      <em class="vm">第一批</em>
      </label>
    <% }else if(batch == 2){ %>
      <label for="batch_2"  class="label_radio inline">
      <em class="icon-radio"></em>
      <input type="radio" class="input form-control" id="batch_2" name="batch" checked disabled>
      <em class="vm">第二批</em>
      </label>
    <% }else if(batch == 3){ %>
      <label for="batch_3"  class="label_radio inline">
      <em class="icon-radio"></em>
      <input type="radio" class="input form-control" id="batch_3" name="batch"  disabled checked>
      <em class="vm">第三批</em>
      </label>
    <% } %>
    </div>
  </div>
</div>

<div class="row clearfix inline">
  <label for="score" class="control-label column col1 fl">
    <i class="icon-location icon-fenshu"></i>
    <em class="vm">高考分数：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap lh34">
      <span><%= score %></span>
    </div>
  </div>
</div>

<div class="row clearfix inline">
  <label for="score" class="control-label column col1 fl">
    <i class="icon-location icon-rank"></i>
    <em class="vm">全省排名：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap lh34">
      <span><%= place %>名</span>
    </div>
  </div>
</div>


<% if(majorList && majorList.length) { %>
<div class="row clearfix">
  <label for="courseType" class="control-label column col1 fl">
    <i class="icon-location icon-hat"></i>
    <em class="vm">专业选择：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <% for (var i = 0; i < majorList.length; i++) { %>
      <label for="majorId_<%= majorList[i].majorId %>" class="label_check inline">
      <em class="icon-radio"></em>
      <input type="checkbox" class="input form-control" id="majorId_<%= majorList[i].majorId %>" name="majorId" disabled checked>
      <em class="vm"><%= majorList[i].majorName %></em>
      </label>
      <% } %>
    </div>
  </div>
</div>
<% } %>

<% if(c && c.length) { %>
<div class="row clearfix">
  <label for="courseType" class="control-label column col1 fl">
    <i class="icon-location icon-street"></i>
    <em class="vm">地区选择：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <% for (var i = 0; i < c.length; i++) { %>
      <label for="city_<%= c[i].code %>" class="label_check inline">
      <em class="icon-radio"></em>
      <input type="checkbox" class="input form-control" id="city_<%= c[i].code %>" name="city" disabled checked>
      <em class="vm"><%= c[i].name %></em>
      </label>
      <% } %>
    </div>
  </div>
</div>
<% } %>

</form>
</div>